@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Roboto&family=Squada+One&display=swap');


.App {
  --custom-font: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
}

.App__nav {
  background-color: #fd02fd;
  color: #fff;
  grid-area: sidebar;
  height: 100vh;
  overflow: auto;
}

.App__header {
  background-color: #4e0055;
  color: #fd02fd;
  font-family: var(--custom-font);
  grid-area: header;
  width: 100%;
  text-align: center;
  text-shadow: 2px 1px 2px black;
}

.App__header a {
  color: #bdbdbd;
}

.App__main {
  background-color: #000000;
  grid-area: main;
  height: calc(100vh - 120px);
  overflow: auto;
}