.NoteListNav {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}


.NoteListNav__list {
    list-style-type: none;
    margin: 130px 0 0;
    padding: 0;
  }
  
  .NoteListNav__button-wrapper {
    margin: 0 0 0 auto;
    max-width: 180px;
    padding-right: 40px;
    text-align: center;
  }
  
  .NoteListNav__add-folder-button {
    margin: 20px auto;
  }
  .NoteListNav__add-folder-button:hover {
    background-color: #4e0055;
    color: white;
  }
  
  .NoteListNav__folder-link {
    
    color: #ffffff;
    font-size: 1.1em;
    margin: 0 0 8px auto; 
    max-width: 180px;
    padding: 8px 16px;
    text-decoration: none;
  }
  .NoteListNav__folder-link:hover {
    color: #fd02fd;
    cursor: pointer;
  }
  .NoteListNav__folder-link.active {
    background-color: #4e0055;
  }
  
  .NoteListNav__num-notes {
    color: #fd02fd;
    /* display: block;
    float: right; */
    font-size: 1.1em;
  }

  /* .folder-box {
    width: 100%;
    list-style:none;
    height: 30px;;
  } */

  .folder-delete {
    margin: 10px;
  }

  li.note {
    background-color: #030f1f;
    margin: 10px;
    width: 100%;
  }

  ul {
    /* width: 100%; */
  }